extends layout

block content
  h1= title
  if (toShow == null)
    h2 No instance to delete
  else
    - let monitorid = toShow._id
    - let monitor_model = toShow.model
    - let monitorscreen_size = toShow.screen_size
    - let monitorprice = toShow.price
    - let actionid = "/resource/monitor/" + monitorid

    script.
      let actionid = "#{actionid}"

    div
      div.row
        div(class='costumeAttr mr-3') Monitor ID is:
        div #{monitorid}
      div.row
        div(class='costumeAttr mr-3') Monitor Type is:
        div #{monitor_model}
      div.row
        div(class='costumeAttr mr-3') Monitor Size is:
        div #{monitorscreen_size}
      div.row
        div(class='costumeAttr mr-3') CosMonitortume Cost is:
        div #{monitorprice}

    button(class="btn btn-danger m-2" onclick="deleteOnid()") Delete
    button(class="btn btn-secondary m-2" onclick="cancel()") Cancel

    script.
      function cancel() {
        // Go back to the home page for the costume collection
        window.location.href='/monitors'
      }

      function deleteOnid() {
        console.log("starting delete")
        // delete first
        fetch(actionid, {
          method: 'DELETE' // Don't need a body for the delete
        }).then((resp) => {
          return resp.json(); // or resp.text() or whatever the server sends
        }).then((body) => {
          alert("Delete succeeded")
          window.location.href='/monitors'
          // TODO handle body
        }).catch((error) => {
          // TODO handle error
          alert("Delete failed " + error )
        });
      }
