extends layout

block content
  h1= title
  -
    const results = [
      { model: "Monitor 1", screen_size: 24, price: 199.99 },
      { model: "Monitor 2", screen_size: 27, price: 249.99 },
      { model: "Monitor 3", screen_size: 32, price: 299.99 }
    ];
  .container-fluid
  .row
    - for (var i = 0; i < results.length; i++)
      .col-sm-2
        - let destination = `dispatch(\"/monitors/update?id=${'655783b17c6d026c42b0c33a'}\")`
        h4= results[i].model
        p Screen Size: #{results[i].screen_size} inches
        p Price: $#{results[i].price}
        button.btn( class="btn-primary ml-1", onclick= destination) Update

  script.
      function dispatch(path) {
        window.location.href=path
      }
